---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us - Black Maternal Mortality ">
	<h1>About Us</h1>
	<img src="/images/teampic.png" alt="Our team" />
	<p>We are passionate and dedicated to bring easy learning and equality to everyone.</p>
	<h2>Our Team</h2>
	<div class="team-grid">
		<div class="team-member">
			<img src="MiriamHeadshot.png" alt="Team Member 1" />
			<h2>Miriam</h2>
			<p>
				I knew little about hair discrimination and black maternal mortality. Now I know a lot more, especially when getting additional information from my step mom and mom, who are both nurses, about how they had experiences with black mothers not getting the proper care they need. My stepmother had a personal experience with hair discrimination at her job. I know now, after researching the struggles and rates, that black mothers die more than other races simply because of poor care. I’m passionate about it because after looking into it for myself, I was passionate about making a better experience for black mothers to get the proper care they deserve, even if it’s just a little bit.  I hope people will stand up for the cause that I am so passionate about and determined about so that they will help make the difference. I had fun talking with my colleagues and discussing how we would go about this and that. It was just a really fun time getting to know everyone and being able to express our complaints.
			</p>
		</div>
		<div class="team-member">
			<img src="/images/CadenceHeadshot.png" alt="Team Member 2" />
			<h2>Cadence</h2>
			<p>Before the Institute I know that people dealt with discrimination, but I did not know how far this discrimination went. For the black maternal mortality rate, I knew that a lot of Black people were getting discriminated, but I did not know how far doctors took it. Now I’m passionate about this situation and needs awareness because women are dying because doctors refuse to take them seriously. With that being said, I Hope people take this and spread awareness and stand up for themselves and others more. Especially when they have a feeling that somethings wrong.</p>
		</div>
	</div>
</Layout>

<style>
	h1{
		color: rgb(var(--red));
	}
	h2{
		color: rgb(var(--brun));
	}
	h3{
		color: rgb(var(--accent));
	}
	.team-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 2rem;
		margin-top: 2rem;
	}
	.team-member {
		text-align: center;
	}
	.team-member img {
		border-radius: 50%;
		margin-bottom: 1rem;
	}
	.team-member h3 {
		margin: 0;
		color: rgb(var(--accent));
	}
	.team-member p {
		margin: 0.5rem 0 0;
		font-style: italic;
	}
</style>
