---
import Layout from '../layouts/Layout.astro';
---

<Layout title="CMJ - Black Maternal Mortality">
	<h1>All about Black Maternal Mortality</h1>
	<img src="/images/logo.png" alt={`statpage2`} class="float-img" >
	<p>What is the issue:</p>
	There are several mothers who’ve undergone complications in their pregnancy (such as preeclampsia), but do not get the proper care they need, typically because of discrimination they face when seeking healthcare for these issues (Chambers et. al).  This can affect these mothers’ and infants’ health, and in some cases, lead to death. 
	</p>
	<p>
	This is something that is especially seen a lot among Black mothers. Black Maternal Mortality is the amount of maternal deaths among Black women for every 100,000 live births. The Black Maternal Mortality rate tends to be higher than that of many other races. This is primarily due to the discrimination they face when seeking healthcare, which is primarily due to their racial identity. 
	</p>
	<p>
	The consequences of this unfair treatment can be deadly, for both the mother and the infant. Several mothers and infants have died because of this issue. Unfortunately, we still haven’t taken sufficient action on this issue that can affect so many lives
	</p>
	<a href="/page/1" class="next-button">Start Reading</a>
	<p> Hit start reading to begin... </p>
	</div>
</Layout>

<style>
	h1 {
		color: rgb(var(--brun-light));
	}
	.navigation {
		margin-top: 2rem;
		text-align: right;
	}
	.next-button {
		display: inline-block;
		padding: 0.5rem 1rem;
		background-color: rgb(var(--red));
		color: white;
		text-decoration: none;
		border-radius: 4px;
	}
	.next-button:hover {
		background-color: rgb(var(--accent-dark));
	}
	.float-img {
		float: left;
		margin: 0 15px 10px 0;
		border-radius:5%;
	} 
</style>